html {
  font-family: papyrus, sans-serif;
}

header {
  border: 10px solid black;
}

li {
  display: inline;
  margin-inline: 100px;
}

section {
  border: 10px;
  border-color: blue;
}

footer {
  border: 10px;
  border-color: green;
}
