html {
  font-family: papyrus, sans-serif;
  background-color: #41b3a3;
}
body {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
header {
  border: 10px solid #e27d60;
  margin-top: 10px;
  margin: auto;
  background-color: #41b3a3;
}

li {
  display: inline;
  margin-inline: 100px;
  color: white;
}

section {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  color: white;
}

footer {
  color: white;
}

#image {
  padding: 10px;
}

#fixed-header {
  position: fixed;
  top: 0;
  right: 50px;
}

.contact {
  display: block;
  margin: auto;
}

.container {
  margin: auto;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
}
